.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.header {
  padding-bottom: 64px;
}

/* TH */
.characterEditor {
  height: 80%;
}
.perspectiveDecoration {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}

.header {
  display: none;
}

.controlColumn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  min-width: fit-content;
}

.characterWrapper {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .characterEditor {
    height: auto;
  }
  .header {
    display: block;
    max-width: 65%;
  }

  .characterWrapper {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 56%;
    width: auto;
    min-height: 500px;
  }

  .controlColumn {
    display: block;
  }
}
/* TH END */

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}
