.maxWidthWrapper {
  max-width: 1024px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

/* TH */
.maxWidthWrapper {
  position: relative;
  top: 42%;
  z-index: 1;
  overflow-x: auto;
}
/* TH END */
